<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %> 
<body>
    <main>
        <%- include("./partials/header") %>

        <% if (typeof error == "string") { %>
            <div class="mainDiv">
                <div id="contact"> 
                    <h1><%=error%></h1>
                    <a href="<%=ruta%>"> <h2>Intente Nuevamente</h2> </a>
                </div> 
            </div>
        <% }else { %>
            <div class="mainDiv">
                <div id="contact"> 
                    <% for (let i = 0; i < error.length; i++) { %>
                            <h1><%= error[i] %></h1>
                            <br>
                    <% } %>
                    <a href="<%=ruta%>"> <h2>Intente Nuevamente</h2> </a>
                </div>
            </div>
        <% } %>
        <% console.log(error) %>
    </main>

    <%- include("./partials/footer") %>
</body>
</html>

