<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

<body>
    <%- include("./partials/headerDeslogueado")%>
    <main>
        <div class="uk-section uk-section-small">
            <div class="uk-container uk-container-large uk-flex">
                <section id="posts" class="uk-flex uk-flex-middle uk-flex-center uk-flex-column uk-child-width-1-2 uk-width-1-1">
                    
                    <% for( let i = 0; i < usuarios.length; i++ ) { %>
                        <article class="post uk-card-default uk-flex uk-flex-column">
                            <div class="info-usuario uk-flex ">
                                <div>
                                    <img src="/<%= usuarios[i].foto %>" alt="">
                                </div>
                                <h4><a href="/detalle/usuario/<%= usuarios[i].usuario %>"> <%= usuarios[i].usuario %> </a></h4>
                                
                            </div>
                            <div class="post-body uk-flex uk-flex-center">
                                <a href="/detalle/post">
                                    <img src="/<%= posts.imagesById(usuarios[i].id)[0].imagen %>" alt=""> <!-- Buscamos en nuestra base de datos las imagenes por el id del usuario! Es decir, esta es nuestra clave foranea -->
                                </a>
                            </div>
                            <div class="post-reacciones">
                                <ul class="post-icons uk-flex uk-flex-between">
                                    <li><span class="" uk-icon="icon:heart; ratio: 1.3"></span>
                                    </li>
                                    <li><span class="" uk-icon="icon:comments; ratio: 1.3"></span>
                                    </li>
                                </ul>
                                <div class="post-pie uk-flex">
                                    <h5 class="uk-width-1-6"><a href="/detalle/usuario/<%= usuarios[i].usuario %>"><%= usuarios[i].usuario %></a></h5>
                                    <p class="uk-width-5-6"><%= posts.imagesById(usuarios[i].id)[0].texto%></p>
                                </div>
                            </div>
                            <div class="post-comentarios">
                                <h6>Comentarios</h6>
                                <ul>
                                    <li>
                                        <a href="/detalle/usuario"><%= comentarios.commentsById(posts.imagesById(usuarios[i].id)[0].idPost[0]) %></a>  <!-- Tengo que llevarme toda la logica fuera de las vistas -->
                                        <p>Comentario</p>
                                    </li>
                                    <li>
                                        <a href="/detalle/usuario">Usuario</a>
                                        <p>Comentario</p>
                                    </li>
                                    <a href="">Ver más...</a>
                                </ul>
                            </div>
                        </article>
                    <% } %>              
                </section>

            </div>
        </div>
    </main>

    <%- include("./partials/footer") %>
</body>

</html>