<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head") %>

<body>
    <%- include("./partials/header") %>
    <main>
        <div class="uk-section uk-section-small">
            <!-- <div class="uk-container uk-container-large uk-flex uk-flex-middle uk-flex-center"></div> -->
            <% if(posts.length == 0){ %>
                <div class="card" style="width: 18rem;">
                    <h1>No se encontraron resultados para tu busqueda</h1>
                </div>
            <% } else{ %>
                <div class="parent-container-users">
                    <% for( let i = 0; i < posts.length; i++ ) { %>
                        <div class="results-searchUser">
                            <div class="column1-results">
                                <a href="/profile/userDetail/<%= posts[i].userName %>"> <img src="<%= posts[i].user.profilePic %>" class="profilePic"> </a>
                                <a href="/profile/userDetail/<%= posts[i].userName %>"> <h1> <%= posts[i].userName %> </h1> </a>
                                <a href="/profile/userDetail/<%= users[i].userName %>" class="btn btn-primary">Ver Perfil</a>
                            </div>
        
                            <div class="column2-results">
                                <a href="/post/detailPost/<%= posts[i].idPost %>"> <img src="<%= posts[i].image %>" class="postPic" > </a>
                                <p> <%= posts[i].postDescription %> </p>
                            </div>
                        </div>
                    <% } %>
                </div>
            <% } %>
            <!-- </div> -->
        </div>
    </main>


    <%- include("./partials/footer") %>


</body>

</html>